In [1]:
# class Employee:
#     pass      
class Employee:
    def __init__(self, name, age):
        
        self.name= name
        self.age= age
        self.salary=0
    def updateSalary(self, salary):
        if salary < 100000:
            self.__salary= salary
        else:
            print "Invalid salary amount."
    def displayInfo(self):
        print "Name: ", self.name
        print "Age: ", self.age
        print "Salary: ", self.__salary

In [2]:
# class Employee:
#     pass      
class Employee:
    count = 0
    
    def __init__(self, name, age):
        
        self.name= name
        self.age= age
        self.salary=0
        
        Employee.count +=1
    def updateSalary(self, salary):
        if salary < 100000:
            self.__salary= salary
        else:
            print "Invalid salary amount."
    def displayInfo(self):
        print "Name: ", self.name
        print "Age: ", self.age
#         print "Salary: ", self.__salary

In [3]:
emp_1= Employee("Bob", 55)

In [4]:
emp_2= Employee("Harry", 45)

In [5]:
emp_1.displayInfo()

Name:  Bob
Age:  55

In [6]:
print Employee.count

2

In [7]:
class Number:
    
    def __init__(self, number):
        self.number = number
        
    def displayInfo(self):
        print"Number: ", self.number
    def __add__(self, rhs_number):
        return Number(self.number+ rhs_number.number)
    def __len__(self):
        return len(str(self.number))
#     def __str__(self):

In [8]:
n1 = Number(35)

In [9]:
n1.displayInfo()

Number:  35

In [10]:
n2= Number(55)

In [11]:
n3=n1+n2

In [12]:
n3.displayInfo()

Number:  90

In [13]:
len(n3)

2

In [14]:
# class Employee:
#     pass      
class Employee(object):
    def __init__(self, name, age):
        
        self.name= name
        self.age= age
        self.salary=0
    def updateSalary(self, salary):
        if salary < 100000:
            self.__salary= salary
        else:
            print "Invalid salary amount."
    def displayInfo(self):
        print "Name: ", self.name
        print "Age: ", self.age
        print "Salary: ", self.__salary
    def __str__ (self):
        info= "\n Name:", self.name

In [15]:
class FullTimeEmployee(Employee): #FullTimeEmployee is inheriting from Employee
    def __init__(self, name, age, tenured):
        
        self.tenured = tenured
        super(FullTimeEmployee, self).__init__(name, age) 
        #super takes from parent which in this case is Employee
    def __str__(self):
        
        print "Tenured: ", self.tenured

In [16]:
emp_1= FullTimeEmployee("Bob", 45,True)

Lab Exercises

In [17]:
# Exercise 1: Python Class with 4 member functions- add, subtract, multiply, divide

class Functions():
    def __init__(self, n1, n2):
        self.n1 = n1
        self.n2= n2
    def add(self):
        return self.n1 + self.n2
    def multiply(self):
        return self.n1 * self.n2
    def subtract(self):
        return self.n1 - self.n2
    def divide(self):
        return self.n1/self.n2
    def __str__(self):
        result = "Sum: " + str(self.add())
        result += "\nProduct: " + str(self.multiply())
        result += "\nQuotient: " + str(self.divide())
        result += "\nDifference: " + str(self.subtract())
        return result

In [18]:
calc = Functions(2, 3)

In [19]:
print calc

Sum: 5
Product: 6
Quotient: 0
Difference: -1

Exercise 2:

Write a Python class called Employee with the following properties. Initialize the attributes during class creation. Instantiate the class and invoke its methods

Attributes:
Name
Age 
Salary

Methods:
getName
getAge
getSalary

In [20]:
class Employee1:
    def __init__(self, name, age, salary):
        
        self.name= name
        self.age= age
        self.salary= salary
    def getName(self):
        return self.name
    def getAge(self):
        return self.age
    def getSalary(self):
        return self.salary

In [21]:
emp_4= Employee1("Harry", 80, 500000)

In [22]:
emp_4.getSalary()

500000