In [7]:
movieFile= open("ml-latest-small/movies.csv")

In [9]:
movieFile.readline()

'movieId,title,genres\n'

In [10]:
type(movieFile)

file

In [11]:
line= movieFile.readline()
print line

1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

In [13]:
lineContents=line.strip().split(",") #strips new line characters
print lineContents
movieInfo= {}

['1', 'Toy Story (1995)', 'Adventure|Animation|Children|Comedy|Fantasy']

In [14]:
genres= lineContents[2].split("|")
print genres

['Adventure', 'Animation', 'Children', 'Comedy', 'Fantasy']

In [21]:
title, date= lineContents[1].split("(")
#alternative way 
titleDateList= lineContents[1].split("(")
print title, date

Toy Story  1995)

In [19]:
date= date.strip(")")
print date
type(date)

1995

str

In [25]:
# movieInfo[lineContents[0]]=  [titleDateList[0], date, genres]

In [26]:
genreCounts = {}

count = 0
for key in movieInfo:
    
    count += 1
    
    genres =  movieInfo[key][-1]
    
    for genre in genres:
        
        if genreCounts.get(genre) == None:
            genreCounts[genre] = 1
        else:
            genreCounts[genre] += 1

In [27]:
print genreCounts

{'Comedy': 1, 'Fantasy': 1, 'Animation': 1, 'Adventure': 1, 'Children': 1}

Salary File

In [4]:
writeFile = open("salaryReport.txt","w")

writeFile.write("id,deptid,salary\n")

for i in range(1,101):
    
    id = i
    deptid = id%5 + 1
    salary = i*deptid*10000
    
    writeFile.write(str(id) + "," + str(deptid) + "," + str(salary) + "\n")

writeFile.close()

In [5]:
salaries= open("salaryReport.txt")

In [6]:
salaries.seek(0)
salaries.readline()

'id,deptid,salary\n'

In [7]:
line = salaries.readline()

In [8]:
print line
print type(line)
employeeInfo= line.strip().split(",")
# employeeInfo= employeeInfo.strip()
print employeeInfo

1,2,20000

<type 'str'>
['1', '2', '20000']

In [9]:
salaryAmount = []
salaries.seek(0)
salaries.readline()
line= salaries.readline()
while line != "":
    employeeInfo= line.strip().split(",")
    salaryInt=int(employeeInfo[2])
    salaryAmount.append(salaryInt)
    line= salaries.readline()
print salaryAmount

[20000, 60000, 120000, 200000, 50000, 120000, 210000, 320000, 450000, 100000, 220000, 360000, 520000, 700000, 150000, 320000, 510000, 720000, 950000, 200000, 420000, 660000, 920000, 1200000, 250000, 520000, 810000, 1120000, 1450000, 300000, 620000, 960000, 1320000, 1700000, 350000, 720000, 1110000, 1520000, 1950000, 400000, 820000, 1260000, 1720000, 2200000, 450000, 920000, 1410000, 1920000, 2450000, 500000, 1020000, 1560000, 2120000, 2700000, 550000, 1120000, 1710000, 2320000, 2950000, 600000, 1220000, 1860000, 2520000, 3200000, 650000, 1320000, 2010000, 2720000, 3450000, 700000, 1420000, 2160000, 2920000, 3700000, 750000, 1520000, 2310000, 3120000, 3950000, 800000, 1620000, 2460000, 3320000, 4200000, 850000, 1720000, 2610000, 3520000, 4450000, 900000, 1820000, 2760000, 3720000, 4700000, 950000, 1920000, 2910000, 3920000, 4950000, 1000000]

In [10]:
averageSalary=sum(salaryAmount)/len(salaryAmount)
# print len(salaryAmount)
print averageSalary

1515000

 Write a program to accept the name and ages of three users and write them to a file name user_ages.txt. Make sure that the name and the age are separated by commas

In [84]:
names=[]
userNames= raw_input("Please enter 3 names: ").split(" ")
print userNames
names.append(userNames[0])
names.append(userNames[1])
names.append(userNames[2])
print names

Please enter 3 names: pri pran sam
['pri', 'pran', 'sam']
['pri', 'pran', 'sam']